@import './variables/_colors.scss';

:root {
  @each $type, $color in $theme-colors {
    --q-#{$type}: #{$color};
  }
}
@each $type, $color in $theme-colors {
  .bg-#{$type} {
    background: var(--q-#{$type});
  }
  @each $intensity, $contrast in $theme-color-contrast {
    .bg-#{$type}-light-#{$intensity} {
      background: lighten($color, $contrast);
    }
    .bg-#{$type}-dark-#{$intensity} {
      background: darken($color, $contrast);
    }
  }
  .text-#{$type} {
    color: var(--q-#{$type});
  }
}
.bg-gradient {
  background: linear-gradient(40deg, var(--q-primary) 0%, var(--q-secondary) 100%);
}
